@import "variables.scss";

.block-node{
    // border: 1px solid black;
    display: flex;
    // padding: 1px;
    background-color: #eeeeee;

}

.end-block{
    margin: auto;
    transform: rotateX(90deg);
    animation-name: flipback;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    // filter: blur(1px);
    // box-shadow: 1px 2px 2px 1px rgba(66, 66, 66, 0.16);
    background-color: #111111;
    opacity: 0;

}

.colored-block{
    margin: auto;
    transform: rotateX(90deg);
    animation-name: flipback;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    opacity: 0.75;
    // border: 1px inset rgba(66,66,66,0.16);
    box-shadow: 0 3px 6px 0 rgba(66, 66, 66, 0.16), 0 3px 6px 0 rgba(66, 66, 66, 0.16);
    border-radius: 5px;
}


// .colored-block:focus{
//     background-color: rgba($color: #000000, $alpha: 0);
//     transition: background-color 0.3s;
//     transition-timing-function: ease-in-out;
// }

// .colored-block:hover{
//     background-color: rgba($color: #000000, $alpha: 0);
//     transition: background-color 0.3s;
//     transition-timing-function: ease-in-out;
// }

.theme-red{
    background-color: $theme-red;
}
.theme-green{
    background-color: $theme-green;
}
.theme-blue{
    background-color: $theme-blue;
}
.white{
    background-color: #fefefe;
}

.hovering{
    animation-name: flip;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}


@keyframes flip {
    from {transform: rotate3d(1,0,0,0deg)}
    to {transform: rotate3d(1,0,0,90deg)}
  }

@keyframes flipback {
    from {transform: rotate3d(1,0,0,90deg)}
    to {transform: rotate3d(1,0,0,0deg)}
  }
