@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

.navtitle{
    left: 0%;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    margin-left: 2%;
    height: 100%;
}

.navitem{
    right: 0;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    margin-right: 2%;
    height: 100%;
}
