@import "variables.scss";

.navbar{
    z-index: 1;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: $navbar-height;
    background-color: #333333;
    color:#ffffff;
    position: fixed;
    top: 0;
    font-family: "Apple SD Gothic Neo", Helvetica, sans-serif;
    box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.3);

}



.navcontainer-left{
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    width:50%;
    font-size: larger;

}
.navcontainer-left > p{
    margin-left: 5%;
}

.logo-btn{
    max-width: 16%;
}

.logo{
   max-height: 100%;
   box-sizing: border-box;
}

.navcontainer-right{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 5%;
    width:50%;
    flex-wrap: wrap;
    height: 100%;
    margin: 0%;
    align-items: center;
    color: #ffffff;
    list-style-type: none;

}


.nav-link{
    top: 0%;
    display:block;
    color: white;
    text-decoration: none;
    font-size: larger;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
    height: 100%;
    box-sizing: border-box;
}

.nav-link:hover{
    background-color: white;
    color: black;
    transition: background-color .3s ease, color .3s ease;
}

.selected{
    border-bottom: 5px solid #ffffff;
}