.HomePage-page{
  left:0;
  width: 100vw;
  height: 100vh;
  // background-image: url(../statics/backgroundimg.jpg);
  display: flex;
  overflow: hidden;
  position: absolute;
}

.parent-block{
  left:0;
  width: 100vw;
  height: 100vh;
  display: flex;
}


.portfolio-content-page{
  margin-left: 20vw;
  width: 60vw;
  background-color: #fefefe;
  display: flex;
  margin: auto;
  overflow: hidden;
  cursor: pointer;
}

  
.left{

}

.middle{

}

.right{

}

.myearth{
  position: absolute;
  top: 55vh;
  left: 0vw;
  width: 100vw;
  height: 100vw;
  overflow: hidden;
  animation-name: selfrotate;
  animation-duration: 180s  ;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes selfrotate{
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}